@using Widgets.ViewModels
@using TvShowsFrontend.Client.Features.Views;
@using TvShowsFrontend.Client.Shared.Views

<div class=invite-box>
    <div class="invite-box__about-channel">
        <div class="about-channel__title__container">
            <img class=about-channel__title__image src="@ViewModel.ChannelImageUrl" />
            <h1 class=about-channel__title>@ViewModel.Title</h1>
            <div class="about-channel__title__link-wrapper ">
                <GreenTransitionLink Url="@ViewModel.OpenInAppUrl"> 
                    Открыть в приложении
                </GreenTransitionLink>
            </div>
        </div>
        <span class="about-channel__description">
            @ViewModel.ChannelDescription
        </span>
    </div>
    
    @if(ViewModel.Releases != null){
        <ReleasesListView ViewModel="@ViewModel.Releases"/>
    }
</div>

@code {
    [Parameter]
    public required ISharingWidgetViewModel ViewModel { get; init; }
}
